<h2>Обработка фотографий</h2>

<div class="container" *ngIf="imgChangeEvt">
  <div class="row" style="margin-top: 5%;">
    <div class="text-center col-md-12">
<!--      <input type="file" (change)="onFileSelected($event)" />-->
    </div>
  </div>
  <div class="row" style="margin-top: 5%;">
    <div class="text-center col-md-8">
      <h5>Crop Image</h5>
      <image-cropper
        *ngIf="imgChangeEvt"
        [imageBase64]="imgChangeEvt"
        [imageChangedEvent]="imgChangeEvt"
        [maintainAspectRatio]="true"
        [aspectRatio]="2 / 1"
        [resizeToWidth]="1200"
        format="jpeg"
        (imageCropped)="cropImg($event)"
        (imageLoaded)="imgLoad()"
        (cropperReady)="initCropper()"
        (loadImageFailed)="imgFailed()">
      </image-cropper>
    </div>

    <div class="col-md-4">
      <h6>Image Preview</h6>
      <img style="width: 50vh" [src]="cropImgPreview" />
    </div>

  </div>
</div>


<!--<hr>-->
<!--<hr>-->
<!--<hr>-->

<div class="container">

  <form [formGroup]="myForm" (ngSubmit)="submit()">

    <div class="form-group">
      <label for="file">File</label>
      <input formControlName="file" id="file" type="file" class="form-control-file" multiple=""
             (change)="onFileChange($event)">
      <div *ngIf="formValue.file.touched && formValue.file.invalid" class="alert alert-danger">
        <div *ngIf="formValue.file.errors && formValue.file.errors.required">File is required.</div>
      </div>
    </div>

    <div cdkDropList class="preview-wrapper" (cdkDropListDropped)="drop($event)">
      <div class="img-preview" *ngFor='let obj of images' cdkDrag>
        <img [src]="obj.cropImg || obj.url" width="200px" on-click="showUrl(obj.url)">
        <button type="button" class="btn btn-danger btn-sm" (click)="removeImage(obj.url)">Remove</button>
<!--        <button type="button" class="btn btn-danger btn-sm" (click)="removeImage(obj)">Remove</button>-->
      </div>
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>
  </form>

</div>

<router-outlet></router-outlet>
